{% extends "base.html" %}

{% block mainbody %}
    <div class="Layer" id="layer"></div>
    <div id="container" style="padding-top: 50px;">
        {% if object %}

            <div id="detail-infro" style="color: aliceblue;padding-top: 10px;">
                <h1>{{ object.title }}</h1>
                
                
              
                <script>
                    $(function () {
                        $('span.stars').stars();
                    });
                    $.fn.stars = function () {
                        return $(this).each(function () {
                            $(this).html($('<span />').width(Math.max(0, (Math.min(10, parseFloat($(this).html())))) * 8));
                        });
                    }

                </script>
                <!-- Layer -->
                {#                <div class="Layer" id="layer"></div>#}

                <p><b>Year:</b> {{ object.year }}</p>
                <p><b>Genres:</b> {{ object.genres }}</p>
                <p><b>Movie Length:</b> {{ object.length }} min</p>
                <span class="stars">{{ object.rate }}</span>
                <p><b>Rating:</b> {{ object.rate }}</p>
                <p><a href="http://www.imdb.com/title/{{ object.movieid }}" target="_blank">See in IMDB <span
                        class="glyphicon glyphicon-new-window"></span></a></p>
                <span class="click_Show"> <button class="button_trailer">
                <span class="glyphicon glyphicon-play-circle"></span> Trailer</button>
                </span>

                <div id="TrailerWindow" style="position: fixed;">
                    <div id="title">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div id="videoControl">
                        <video width="600" height="500" controls>
                            <source src="{{ object.trailer }}" type="video/mp4">
                            <source src="{{ object.trailer }}" type="video/ogg" />
                            <source src="{{ object.trailer }}" type="video/webm" />
                        </video>
                    </div>
                </div>
                
                <p id="summary"><b>Plot Summary: </b>"{{ object.plot }}"</p>

            </div>

            <div id="main-pic">
                <img border="0" src="{{ object.poster }}" alt="Cannot load photo, sorry!" width="300" height="500">
            </div>
            
            <hr>
            <br>
            <h2 style="color: aliceblue;">Comments..</h2>
           
        <br>
        {% endif %}
        <div class="container">
            <div class="row">
              <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
                  <h1 style="color: white;">{% block title %} {{ post.title }} {% endblock title %}</h1>
                  <p class=" text-muted">{{ post.name }} | {{ post.created_on }}</p>
                  <p class="card-text ">{{ post.body | safe }}</p>
                </div>
              </div>
          
              <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                  <!-- comments -->
          
                  {% for comment in comments %}
                  <div class="comments" style="padding: 10px;color: whitesmoke;">
                    <p class="font-weight-bold">
                      {{ comment.name }}
                      
                    </p>
                    {{ comment.body }}
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                  {% if new_comment %}
                  <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                  </div>
                  {% else %}
                  <h3>Leave a comment</h3>
                  <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

       

       

        <script type="text/javascript">
            function layersize() {
                document.getElementById("layer").style.width = document.documentElement.scrollWidth + "px";
                document.getElementById("layer").style.height = document.documentElement.scrollHeight + "px";
            }

            $(".click_Show").click(function () {
                layersize();
                $(".Layer").show();//show layer
                $("#TrailerWindow").show();//show videoWindow
                tm();
            });

            $(window).resize(function () {
                layersize();
                tm();
            });

            function tm() {
                var _left = (document.documentElement.clientWidth - $("#TrailerWindow").width()) / 2;//Get distance of left
                var _top = (document.documentElement.clientHeight) * 0.15;//Get distance of top
                $("#TrailerWindow").css({left: _left, top: _top});
            }

            $("button.close").click(function () {
                $('video').trigger('pause');
                $("#TrailerWindow").hide();//hide
                $(".Layer").hide();//hide
            });
        </script>

        <!--Drag-->
        <script type="text/javascript">
            window.onload = function () {
                init(document.getElementById("title"));
            };

            var l = 0, t = 0, x = 0, y = 0;
            var isOver = false;
            var zindex = 99999;

            function init(titleDom) {
                var thisDom = titleDom;
                var parentDom = thisDom.parentNode;
                titleDom.onmousedown = function (event) {
                    var e = event || window.event;
                    x = e.clientX;
                    y = e.clientY;
                    l = parseInt(parentDom.offsetLeft);
                    t = parseInt(parentDom.offsetTop);
                    isOver = true;
                    zindex++;
                    parentDom.style.zIndex = zindex;
                    document.onmousemove = function (event) {
                        if (isOver) {
                            var e = event || window.event;
                            var newLeft = l + e.clientX - x;
                            var newTop = t + e.clientY - y;
                            parentDom.style.left = newLeft + "px";
                            parentDom.style.top = newTop + "px";

                        }
                    };
                    document.onmouseup = function (event) {
                        if (isOver) {
                            isOver = false;
                        }
                    };
                };
            }
        </script>

    </div>
{% endblock %}

